* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SaoTorpes";
  src: url("../fonts/SaoTorpes.otf");
}

@font-face {
  font-family: "Gabo";
  src: url("../fonts/gabo.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

main {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.swiper-pagination {
  height: 10% !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  padding-right: 30% !important;
}

@media (max-width: 900px) {
  .swiper-pagination {
    justify-content: center !important;
    padding-right: 0 !important;
  }
}
.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  margin-bottom: 5rem !important;
  margin-right: 4rem !important;
  width: 10px !important;
  height: 10px !important;
}

@media (max-width: 900px) {
  .swiper-pagination-bullet {
    margin-right: 1rem !important;
  }
}
.swiper-pagination-bullet-active {
  background-color: red !important;
}
