---

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="wrapper-elec3">
    <div class="bg-video">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
            <a href="/electro_a2h-non" class="link-video">
              <video autoplay loop muted>
                <source src="./showreela2hnon.mp4" type="video/mp4" />
              </video>
            </a>
            <h3 class="title">A2H-NON clip <br><span> (Chef électro)</span> </h3>
          </div>  
 
          <div class="swiper-slide">
            <a href="/electro_2purp" class="link-video">
              <video autoplay loop muted>
                <source src="./showreelnaguini.mp4" type="video/mp4" />
              </video>
            </a>
            <h3 class="title">2PURP - Naguin <br> <span>clip (Chef electro)</span></h3>
          </div>

          <div class="swiper-slide">
            <a href="/electro_a2h-solo" class="link-video">
              <video autoplay loop muted>
                <source src="./showreela2hsolo.mov" type="video/mp4" />
              </video>
            </a>
            <h3 class="title">A2H - SOLO <br> <span>clip (Electro)</span> </h3>
          </div>

          <div class="swiper-slide">
            <a href="/electro_luko" class="link-video">
              <video autoplay loop muted>
                <source src="./showreelluko.mp4" type="video/mp4" />
              </video>
            </a>
            <h3 class="title">LUKO <br> <span>Pub (Electro)</span></h3>
          </div>
      </div> 

        </div>

        <div class="swiper-pagination"></div>
    </div>

    <div class="part-left">
       <h1>ELECTRO</h1>

      <!-- <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
        perspiciatis debitis in nisi consequatur similique dolores libero sequi
        illum sit, ullam harum quis vero minima enim explicabo inventore alias
        impedit?
      </p> -->
    </div>
  </div>
</Layout>

<style lang="scss">
  @font-face {
    font-family: "SaoTorpes";
    src: url("../fonts/SaoTorpes.otf");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .link-video {
    width : 100%;
    height : 100%;
  }
  .wrapper-elec3 {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    overflow : hidden;

    .bg-video {
    width: 100%;
    height: 100%;
    
    }
    .part-left {
      width: 30vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      mix-blend-mode: screen;
      z-index: 500;
      opacity : 0.7;
     

      @media (max-width: 900px) {
        width: 100%;
        height: 30%;
        
      }

      h1 {
        font-weight: 800;
        font-family: "SaoTorpes";
        color: #000;
        font-size: 5vw;
        margin-bottom: 3rem;

        @media (max-width: 900px) {
          margin-bottom: 1rem;
        }
      }

      .description {
        width: 90%;
        margin: 0 auto;
        font-family: sans-serif;

        @media(max-width : 500px) {
          font-size: 14px;
        }
      }
    }
  }  
  

  .swiper {
    width: 100%;
    height: 100vh;
   
  }

  .swiper-wrapper {
    width : 100%;
    height : 100%;
    
  }

  .swiper-slide {
    width : 100%;
    height : 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .swiper-slide .title {
    font-family: "Gabo";
    color: #fff;
    position: absolute;
    bottom: 50%;
    right: 5rem;
    font-size: 3vw; 

    span {
      font-size: 2vw;
    
    }

    @media(max-width : 900px) {
      font-size: 2rem;
    }
  }

  .swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mySwiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
</style>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script is:inline>
var swiper = new Swiper(".mySwiper", {
  spaceBetween: 30,
  centeredSlides: true,
  
  speed: 1200,
  effect: 'fade',
  autoplay: {
    delay: 10000,
    disableOnInteraction: false,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  // navigation: {
  //   nextEl: ".swiper-button-next",
  //   prevEl: ".swiper-button-prev",
  // },
});
</script>
