---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Website Maxime Somon">
	<main>
		<h1>Website Maxime SOMON</h1>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width : 1800px;
    margin : 0 auto;
  }
	
</style>
