---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
---

<Layout title="Welcome to Website Maxime Somon">
	<main >
		<Header />

	</main>

</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width : 1800px;
    margin : 0 auto;
  }
	
</style>
