---
import TitleSection from "../components/TitleSection.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout>
<div class="wrapper-elec3">
  <div class="bg-video">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <video autoplay loop muted>
            <source src="./showreelsayonara .mp4" type="video/mp4" />
          </video>
          <h3 class="title">BM & DBOUNCE- sayorana </h3>
        </div> 
              
        <div class="swiper-slide">
          <video autoplay loop muted>
            <source src="./Showreelgogo.mp4" type="video/mp4" />
          </video>
          <h3 class="title">BM & DBOUNCE - GOGOGO! s</h3>
        </div>
 
        <div class="swiper-slide">
          <video autoplay loop muted>
            <source src="./showreellapiste.mp4" type="video/mp4" />
          </video>
          <h3 class="title">BM & DBOUNCE - LA PISTE</h3>
        </div> 

        <div class="swiper-slide">
                <video autoplay loop muted>
                  <source src="./showreelcaptain.mp4" type="video/mp4" />
                  </video>
                  <h3 class="title">BM & DBOUNCE - CAPTAIN</h3>
              </div>
            </div>
          <div class="swiper-pagination"></div>
          </div>
        </div>


  <div class="part-left">
     <h1> ELECTRO</h1>
     
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, perspiciatis debitis in nisi consequatur similique dolores libero sequi illum sit, ullam harum quis vero minima enim explicabo inventore alias impedit?</p>
  </div> 

</div>


</Layout>

<style lang="scss">


  @font-face {
  font-family: "SaoTorpes";
  src: url("../fonts/SaoTorpes.otf");
}
  * {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
  }
  .wrapper-elec3 {
    width : 100%;
    height : calc(100% - 60px);
    position : absolute ;
    top : 60px;
   


    .part-left {
      width : 30vw;
      height : 100%;
      position : absolute;
      top : 0;
      left : 0,;
      background : #fff;
       display : flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
      mix-blend-mode: screen;
      z-index : 100;

      @media(max-width : 800px) {
        width : 100%;
        height : 20%;
      }

      h1{
       font-weight: 800;
      font-family: "SaoTorpes";
       color : #000;
       font-size: 5vw;
       margin-bottom : 3rem;

       @media(max-width : 800px) {
        margin-bottom : 1rem;
       }
      }

      .description {
        width : 90%;
        margin : 0 auto;
        background : #fff;
        font-family: sans-serif;
      }
    }
  }
.bg-video {
  width : 100%;
  height : 100%;
  
}

.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      flex-direction : column;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide .title {
      font-family: "Gabo";
      color: #fff;
      position : absolute;
      bottom : 20%;
      right : 1rem;
      font-size: 3vw;
    }

    .swiper-slide video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


.mySwiper .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
}

</style>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>

<script is:inline>
var swiper = new Swiper(".mySwiper", {
  spaceBetween: 30,
  centeredSlides: true,
  autoplay: {
    delay: 10000,
    disableOnInteraction: false,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  // navigation: {
  //   nextEl: ".swiper-button-next",
  //   prevEl: ".swiper-button-prev",
  // },
});
</script>