<div class="container-nav">
  
  <div class="title-header"><a href="/" >MAXIME SOMON</a></div>
  
  <div class="nav-menu-toggle">Contact</div>
</div>

<div class="menu">
    <div class="adresse-mail">
      <p>maximesomon@truc.fr</p>
    </div>
    <div class="btns-social">
      <img src="./instagram.svg" alt="" />
      <img src="./youtube.svg" alt="" />
    </div>
  </div>

<style>
  .container-nav {
    width: 100%;
    height: 60px;
    position :fixed;
    top: 0;
    left: 0;
    display : flex;
    align-items: center;
    background: #fff;
    z-index: 1000;
  }

  .title-header {
    font-family: "SaoTorpes";
    font-size:  20px;
    text-align : center;
    width : 100%;
    color : red;
   
   
  }

  .nav-menu-toggle {
    position: absolute;
    right: 3rem;
    font-weight: bold;
    cursor : pointer;
    user-select: none;
  }

  .mouv {
    transform: translateX(200%) translateY(300px);
    transition: 0.5s;
    transition-delay: 0.1s;
  }

  .scale {
    transform: scale(3);
    transition: 0.5s;
  }

  .menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.8s;
    z-index : 800;
    background: #fff;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    flex-direction : column;
    justify-content: center;
  }

  .btns-social {
    position  : absolute;
    bottom : 30%;
    opacity: 0;
    transition : 0.5s;
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: center;
  }
  .btns-social img {
    width: 40px;
    height: 40px;
  }
  .adresse-mail {
  position : absolute;
  top : 40%;
    opacity: 0;
    transition : 0.5s;
    /* margin-bottom : 200px; */
    font-size: 2rem;
    font-weight: 300;
  }
  
  @media (max-width : 600px) {

    .container-nav {
      padding : 0;  
    }
    .title-header {
      /* text-align: left; */
      font-size: 14px;
      padding-left : 1rem;
     

    }

    .nav-menu-toggle {
      right : 1rem;
      font-style: 10px;
    }
  }
</style>

<script>
  const toggle = document.querySelector(".nav-menu-toggle");
  const menu = document.querySelector(".menu");
  const titleHeader = document.querySelector(".title-header");
  const adresse = document.querySelector(".adresse");
  
  // const tl = gsap.timeline();
  // tl.to(menu, { y: 0 });
  // tl.to(titleHeader, { y: '50vh'});
  
  // tl.to(titleHeader, { scale: 3, delay: 0.5 });
  // tl.to(" .btns-social", { opacity: 1 }, "-=0.3");
  // tl.to(".adresse-mail", { opacity: 1 }, "-=0.3");
  // tl.reversed(true);
  // tl.to;

  // toggle.addEventListener("click", () => {
  //   tl.reversed(!tl.reversed());
  // });

  let mm = gsap.matchMedia();
 const tl = gsap.timeline();


mm.add("(min-width: 600px)", () => {
  tl.to(menu, { y: 0 })
  .to(titleHeader, { y: '50vh'})
  .to(titleHeader, { scale: 3, delay: 0.5 })
  .to('.adresse-mail', {opacity : 1})
  .to('.btns-social', {opacity : 1})
  tl.reversed(true);
  tl.to;

 
});

mm.add("(max-width: 599px)", () => {
   tl.to(menu, { y: 0 })
   .to(titleHeader, { y: '50vh'}) 
   .to(titleHeader, { scale: 2, delay: 0.5 })
   tl.reversed(true);
    tl.to;
   
});
toggle.addEventListener("click", () => {
    tl.reversed(!tl.reversed());
  });



</script>
