---

---
<div class="wrapper-title">
  
     <video autoplay loop muted>
      <source src="./SHOWREEL.mp4" type="video/mp4" />
    </video>
      <h2 class="text">ELECTRO</h2>
   
  </div>  
</div>

<style>
  @font-face {
    font-family: "SaoTorpes";
    src: url("../fonts/SaoTorpes.otf");
  }
  .wrapper-title {
    position: relative;
    width : 85%;
   
    margin : 0 auto;
    margin-bottom : 5rem;
    
    
  }

  video {
    position : absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

.text {
  /* position : absolute;
  top : 0;
  left :0; */
  background: #fff;
  color: #000;
  width : 100%;
  mix-blend-mode: screen;

  
}
h2 {
  font-size: 4vw;
font-family: "SaoTorpes";

    }


@media (max-width: 1500px) { 

  .wrapper-title {
    position: relative;
    width : 85%;
    margin : 0 auto;
    height : 4rem;
    margin-bottom : 2rem;
    
  }
  h2 {
    font-size: 4rem;
  }

  .description {
    width : 70vw;

  }
}


</style>

